.theSky{
  position: fixed;
  left: 0px; top: 0px;
  width: 100%; width: 100dvw;
  height: 100%; height: 100dvh;

  background: linear-gradient(0deg, #b5c5cf, #b5c5cf, #a2bbc6);
}

.clouds{
  position: fixed;
  left: 50%; left: 50dvw; top: 50%; top: 50dvh;
  transform: translate(-50%,-50%);
  overflow: visible;
}
.clouds img{
  height: 100vmin; height: 100dvmin; /*hundred percent means 1200px i.e. the natural height of the image*/
  transition: translate 3.3s, rotate 3.3s;
  transition-timing-function: ease-in-out;
}
.clouds svg{
  height: 100vmin; height: 100dvmin; /*Unlike IMG setting height alone will not auto handle width for SVG*/
  width: 100vmin; width: 100dvmin;
  opacity: 0.0;
}

#cloudsID{ transform-origin: 50% 100%; }
#treeID{ transform-origin: 31.33% 53.58%; }
#hillID{ transform-origin: 50% 50%; }

.theInfiniteGround{
  position: fixed; left: 0px;
  background-color: rgb(103, 127, 137);
  width: 100vw; width: 100dvw;
}
@media (orientation: portrait) {
  .theInfiniteGround{
    top: calc(50vh + 20vmin); top: calc(50dvh + 20dvmin);
    height: calc(30vmin + 50vh - 50vmin); height: calc(30dvmin + 50dvh - 50dvmin);
  }
}

@media (orientation: landscape) {
  .theInfiniteGround{
    top: 70vmin; top: 70dvmin;
    height: 30vmin; height: 30dvmin;
  }
}
.usePerspective{ perspective: 1000px;
  position: fixed;  left: 50%; left: 50dvw; top: 50%; top: 50dvh;  transform: translate(-50%,-50%);
}
.monocularContainer{
  width: 100vmin; width: 100dvmin;
  height: 100vmin; height: 100dvmin;
}
.monocularPositioning{
  position: absolute;
  left: 47.192vmin; left: 47.192dvmin; top: 62.218vmin; top: 62.218dvmin;
  width: 30.341vmin; width: 30.341dvmin;
  overflow: hidden;
}
.monocularPositioning img{
  height: 34.133vmin; height: 34.133dvmin;
}
.sprite1{ animation: play-sprite-1 1.5s infinite; animation-direction: alternate; animation-timing-function: steps(8, jump-none); }
@keyframes play-sprite-1 {
  from { transform: translateX(0%); } /* Start from the first frame */
  to { transform: translateX(-87.5%); } /* End at the last frame */
}
.sprite2{ animation: play-sprite-2 1.5s; animation-iteration-count: 1; animation-fill-mode: forwards; animation-timing-function: steps(12, jump-none); }
@keyframes play-sprite-2 {
  from { transform: translateX(0%); } /* Start from the first frame */
  to { transform: translateX(-91.666666%); } /* End at the last frame */
}

.moveTowardsViewer{ animation: bring-closer 4.3s; animation-delay: 0.0s; animation-iteration-count: 1; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0,.25,.5,1); }
@keyframes bring-closer {
  0% { transform: translateZ(0px); }
  100% { transform: translateZ(500px); }
}

#mouseEnterMonocularID{
  animation: follow-sprite 1.5s infinite;
  animation-direction: alternate;
  animation-timing-function: steps(8, jump-none);
}
@keyframes follow-sprite {
      0% { d: path("M651.5,801.833c27.75-18.333,96.334-33.666,130.667,19.667 s51.5,79.5,56.833,88s15,32.166,8.833,59.166C863,976,872,987,882.333,1004.333s26.329,61.495-25.5,99.833 c-40.333,29.834-83.334,6.167-96.5-8.166s-22.5-32.001-24.5-49.167C713,1045,696,1035.5,668.167,998.833 C648.013,972.282,631.834,950.167,617,929.5S595.973,838.517,651.5,801.833z"); }
      14.286% { d: path("M648.333,802.333c27.75-18.333,97.584-32.916,131.917,20.417 S833.667,901,839,909.5s15.333,31,9.166,58c15.167,7.334,27.668,20,38.001,37.333s23.831,61.716-25.667,99.334 c-37.5,28.5-82.25,8.083-97-8.667c-12.862-14.606-22.667-30.668-24.667-47.834c-37.833-7.416-42.708-13.541-70.666-48.833 c-22.155-27.967-36.52-45.218-52.292-66.333C595.333,905,592.806,839.017,648.333,802.333z"); }
      28.571% { d: path("M644.5,803c27.309-18.984,94.5-35,132.684,19.052 c36.597,51.806,55.253,76.964,60.786,85.336c5.532,8.371,15.062,30.629,9.536,57.767c15.336,6.974,29.133,19.34,39.873,36.423 c10.74,17.084,27.215,61.895-21.379,100.673c-36.815,29.38-84.5,13-99.108-7.128c-11.432-15.752-23.386-30.123-25.792-47.236 c-37.997-6.52-43.016-12.527-71.801-47.147c-22.812-27.435-37.119-44.711-53.847-65.077C591.5,906.5,589.857,840.987,644.5,803z"); }
      42.857% { d: path("M638,804.25c31.809-23.322,95.632-34.379,135.45,18.974 c38.164,51.134,57.59,75.961,63.373,84.227c5.781,8.265,15.923,30.26,10.973,57.151c15.65,6.839,31.378,19.282,42.621,36.149 c11.244,16.869,28.072,61.525-20.104,100.124c-36.5,29.245-82.875,16.063-100-6c-12.008-15.471-24.188-28.625-25.438-46.125 c-38.527-6.292-46.5-12.723-76.375-46.875c-23.675-27.065-39.603-45.72-56.75-66C591,911.334,585.833,842.5,638,804.25z"); }
      57.143% { d: path("M639.25,802c31.809-22.354,95.751-36.167,134.251,17.167 c37.893,52.493,58.966,80.392,64.749,88.833c5.781,8.441,14.496,32.844,9.546,59.584c15.65,7.315,31.378,20.238,42.621,37.447 c11.244,17.211,24.583,64.469-20.104,99.512C834.048,1132.98,786.25,1121,769.5,1098c-11.699-16.065-23.375-31.862-24.625-49.4 c-38.527-7.465-46.5-13.138-76.375-48.2c-23.675-27.786-39.603-47.925-56.75-68.728C591,906.5,587.083,838.662,639.25,802z"); }
      71.429% { d: path("M639.25,798.468c31.809-22.882,95.751-37.021,134.251,17.572 c37.893,53.731,52.249,74.241,64.249,91.46c8.341,11.969,14.25,36.25,9.25,62.75c15.65,7.488,31.007,18.886,42.25,36.5 c11.244,17.617,24.75,64.531-19.938,100.4c-36.265,29.109-83.063,17.846-99.813-5.697c-11.699-16.444-26.25-30.953-25.25-52.953 c-38.527-7.641-45.875-11.061-75.75-46.951c-23.675-28.441-39.603-49.056-56.75-70.349C591,905.434,587.083,835.995,639.25,798.468 z"); }
      85.714% { d: path("M641.25,795.75c31.629-22.345,96.17-37.854,134.25,18 c37.479,54.973,50.831,76.788,62.699,94.401c8.25,12.243,13.056,38.836,8.027,65.421C865,981.75,876.25,995,889.25,1012 c12.289,16.069,24.25,67.75-20.25,98c-43.615,29.648-87.183,16.091-103.75-8c-11.572-16.826-22.252-30.742-21.205-52.883 c-38.223-8.554-43.846-9.062-72.795-46.367c-24.25-31.25-43.782-58.669-60.75-80.5C589.968,895.83,589.377,832.396,641.25,795.75z"); }
      100% { d: path("M641.25,793.392C672.879,770.708,740.5,755,776,810.5 c36.504,57.07,48.75,76.5,62.199,96.998c8.184,12.473,13.056,39.426,8.027,66.414c18.773,8.302,30.023,21.753,43.023,39.011 c12.289,16.313,24.159,69.487-20.25,100.327c-45,31.25-87,16-104.75-9.961c-11.646-17.032-22.047-33.813-21-56.289 c-38.223-8.684-45.605-7.414-72-43.468c-24-32.782-43-60.782-60-84.782C591.726,891.187,589.377,830.593,641.25,793.392z"); }
}

.whenMonocularIsHovered{
  filter: brightness(105%) drop-shadow(0px 0px 4px rgb(42, 63, 74)) drop-shadow(0px 0px 2px rgba(42, 63, 74, 1));
}
.whenMonocularIsClicked{  animation: briefLight 0.8s;  animation-fill-mode: forwards;  animation-timing-function: ease-out;  }
@keyframes briefLight {
  from { filter: contrast(118%) drop-shadow(   0px 0px 1px rgba(42, 63, 74, 0)   ); }
  to {   filter: contrast(100%) drop-shadow(   0px 0px 3px rgba(42, 63, 74, 0.7)   ); }
}
/* Q:TOO MUCH CPU? A:YES or COULD BE » Therefore deprecate
.arrowSignDisappears{  animation: disappearing-arrow 1.2s;  animation-fill-mode: forwards;  animation-timing-function: linear;  }
@keyframes disappearing-arrow {
  from { opacity:1; }
  to {   opacity:0; }
}
*/
.bothEyelidsSVG{
  position: fixed;
  left: 50%; left: 50dvw;  width: 100vmin;  width: 100dvmin;
  top: 50%;  top:  50dvh;  height: 100vmin; height: 100dvmin;
  transform: translate(-50%,-50%) scaleX(100%) scaleY(100%);
}
.animateUpperEyelid{  animation: blinkUpperEyelid ease-in-out; animation-fill-mode: forwards;  }
@keyframes blinkUpperEyelid {
      0% { d: path("M500-150c204.478,0,388,46.093,520,130v-180H-20v180C113-103.536,296.038-150,500-150z"); }
      100% { d: path("M500,500c204.478,0,303,0,520,0v-700H-20v700C179,500,296.038,500,500,500z"); }
}
.animateLowerEyelid{  animation: blinkLowerEyelid ease-in-out; animation-fill-mode: forwards;  }
@keyframes blinkLowerEyelid {
      0% { d: path("M500,1150c-204.478,0-388-46.093-520-130v180h1040v-180C887,1103.535,703.962,1150,500,1150z"); }
      100% { d: path("M500,500c-204.478,0-303,0-520,0v700h1040V500C821,500,703.962,500,500,500z"); }
}




.pureBlack{ background-color: black; position: fixed; }
#leftBlackID{  height: 100%; height: 100dvh; top:0px; left:0px; }
#topBlackID{   width:  100%; width:  100dvw; top:0px; left:0px; }
#rightBlackID{ height: 100%; height: 100dvh; width:100vw;  top:0px; }
#bottomBlackID{ width: 100%; width:  100dvw; height:100vh; left:0px;}


.monocularHoleContainer{
  position: fixed;
  left: 50%; left: 50dvw; top: 50%; top: 50dvh;
  transform: translate(-50%,-50%);
  width: 100vmin; width: 100dvmin;
  overflow: hidden;
  box-shadow: 70px 70px 0px black,
              -70px 70px 0px black,
              70px -70px 0px black,
              -70px -70px 0px black,
              inset 5px 5px 0px black,
              inset -5px 5px 0px black,
              inset 5px -5px 0px black,
              inset -5px -5px 0px black;
}
.monocularHoleContainer img{
  height: 100vmin; height: 100dvmin; /*hundred percent means 1200px i.e. the natural height of the image*/
  /*Set initial animationDirection to reverse then alternate in js */
}
.sprite3{ animation: play-sprite-3 0.4s; animation-timing-function: steps(8, jump-none); animation-fill-mode: forwards; }
@keyframes play-sprite-3 {
  from { transform: translateX(0%); } /* Start from the first frame */
  to { transform: translateX(-87.5%); } /* End at the last frame */
}

.startZoomingFrom1xTo2x{
  animation: birdZoom1 2.6s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(.2,0,.6,1);
}
@keyframes birdZoom1 {
from { transform: scale(1); /*filter: blur(0px);*/ }
  to {   transform: scale(1.49); filter: blur(3px); }
}

.startZoomingFrom2xTo3x{
  animation: birdZoom2 2.6s; animation-fill-mode: forwards; animation-timing-function: linear; /*cubic-bezier(0,.25,.5,1);*/
}
@keyframes birdZoom2 {
  0% {   transform: scale(1) translateX(0vmin); /*filter: blur(  «value at the given moment»   px);*/ }
  25% {  transform: scale(1.05) translateX(0.25vmin);  }
  50% {  transform: scale(1.13) translateX(1.5vmin); filter: blur(2px); }
  75% {  transform: scale(1.24) translateX(4.75vmin); filter: blur(3px); }
  100% { transform: scale(1.29) translateX(5vmin); filter: blur(4px); }
}

.walkToTheTreeContainer{
  position: fixed;
  left: 0px; top: 0px;
  width: 100%; width: 100dvw;
  height: 100%; height: 100dvh;
  overflow: hidden;
  display: flex; flex-direction: column-reverse; align-items: center;
}
.walkToTheTreeContainer img {
  height: 100vmin; height: 100dvmin;
}

.handleNewPortraitSetting{  } /*Use opacity to avoid intervention with dynamic settings of display and visibility*/
@media (orientation: portrait) {
  .handleNewPortraitSetting{ opacity: 0; }
  #flyingBirdSpriteContainerID{animation-duration: 1.5s; animation-name: bird-flies-portrait;}
}
@media (orientation: landscape) {
  .handleNewPortraitSetting{ opacity: 1; }
  #flyingBirdSpriteContainerID{animation-duration: 3.3s; animation-name: bird-flies-landscape;}
}


#flyingBirdSpriteContainerID{
  position: fixed;
  width: 9vmin; width: 9dvmin;
  height: 9vmin; height: 9dvmin;
  margin-top: 20.2vmin; margin-top: 20.2dvmin;
  margin-left: 39vmin; margin-left: 39dvmin;
  overflow: hidden;
  animation-fill-mode: forwards; animation-timing-function: cubic-bezier(.2,.2,.5,1);
  /* animation-name: bird-flies; */
  /* animation-duration: 3s; */
}

@keyframes bird-flies-portrait { from { scale: 100%; }  to { scale: 175%; } }
@keyframes bird-flies-landscape { from { scale: 100%; }  to { scale: 250%; } }

#flyingBirdSpriteContainerID img{
  height: 9vmin; height: 9dvmin;
  animation: play-sprite-4 0.14s; animation-timing-function: steps(4, jump-none); animation-direction: alternate; animation-iteration-count: infinite;
}
@keyframes play-sprite-4 {
  from { transform: translateX(0%); } /* Start from the first frame */
  to { transform: translateX(-75%); } /* End at the last frame */
}
